
.teste{
	background-color: #f6f6f6;
    color: #FFFFFF;
    text-align: center;
    min-height: 108px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}

.teste2{
	padding-bottom: 25px;
}

